Repository bachya/aiopinboard, pull requests merged in 2023-11, with the labels that each got.

#273 Fix incorrect method signature in README.md
  README.md
Labels: documentation

#283 Replace `maya` with `arrow`
  aiopinboard/bookmark.py
  aiopinboard/note.py
  poetry.lock
  pyproject.toml
  tests/fixtures/posts_all_response.xml
  tests/fixtures/posts_recent_response.xml
  tests/test_bookmark_api.py
Labels: dependencies

#285 Use `ruff` in place of `bandit` and `black`
  .bandit.yaml
  .pre-commit-config.yaml
Labels: maintenance

#286 Remove unused dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies
